In [10]:
import pandas as pd

df=pd.read_csv('data1.csv')
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
1        2   AC     NaN    NaN
2        3   AD      AD  410.0
3        4  NaN      AE  875.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
7        8   AI      AI    NaN
8        9   AJ      AJ  937.0
9       10   AK     NaN  317.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
15      16  NaN      AQ  193.0
16      17   AR     NaN    NaN
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
22      23   AX     NaN  376.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
26      27  NaN      BB    NaN
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
31      32   BG     NaN  749.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
38      39   BN      BN    NaN
39      40   BO      BO  853.0
40      41  NaN      BP  924.0
41      42   BQ     NaN  290.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
48      49   BX     NaN  227.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
53      54   CC     NaN    NaN
54      55   CD      CD  636.0
55      56   CE      CE  992.0
56      57  NaN      CF  546.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
62      63   CL     NaN  131.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
65      66   CO      CO    NaN
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
70      71  NaN      CT  197.0
71      72   CU      CU  999.0
72      73   CV     NaN   33.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
77      78   DA      DA    NaN
78      79   DB      DB  538.0
79      80   DC      DC  123.0
80      81  NaN      DD   57.0
81      82   DE     NaN  908.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
87      88   DK      DK    NaN
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
92      93  NaN      DP  302.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
95      96   DS     NaN  358.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0
99     100   DW      DW    NaN

In [19]:
#to display all data with no empty cell
df=df.dropna()
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
2        3   AD      AD  410.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
8        9   AJ      AJ  937.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
39      40   BO      BO  853.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
54      55   CD      CD  636.0
55      56   CE      CE  992.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
71      72   CU      CU  999.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
78      79   DB      DB  538.0
79      80   DC      DC  123.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0

In [18]:
#remove all the row with null value
df=pd.read_csv('data1.csv')
df.dropna(inplace=True)
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
2        3   AD      AD  410.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
8        9   AJ      AJ  937.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
39      40   BO      BO  853.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
54      55   CD      CD  636.0
55      56   CE      CE  992.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
71      72   CU      CU  999.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
78      79   DB      DB  538.0
79      80   DC      DC  123.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0

In [15]:
#replace all the null value with and number
df=pd.read_csv('data1.csv')
df.fillna(173,inplace=True)
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
1        2   AC     173  173.0
2        3   AD      AD  410.0
3        4  173      AE  875.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
7        8   AI      AI  173.0
8        9   AJ      AJ  937.0
9       10   AK     173  317.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
15      16  173      AQ  193.0
16      17   AR     173  173.0
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
22      23   AX     173  376.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
26      27  173      BB  173.0
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
31      32   BG     173  749.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
38      39   BN      BN  173.0
39      40   BO      BO  853.0
40      41  173      BP  924.0
41      42   BQ     173  290.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
48      49   BX     173  227.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
53      54   CC     173  173.0
54      55   CD      CD  636.0
55      56   CE      CE  992.0
56      57  173      CF  546.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
62      63   CL     173  131.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
65      66   CO      CO  173.0
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
70      71  173      CT  197.0
71      72   CU      CU  999.0
72      73   CV     173   33.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
77      78   DA      DA  173.0
78      79   DB      DB  538.0
79      80   DC      DC  123.0
80      81  173      DD   57.0
81      82   DE     173  908.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
87      88   DK      DK  173.0
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
92      93  173      DP  302.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
95      96   DS     173  358.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0
99     100   DW      DW  173.0

In [17]:
#replace null value of perticular [address] with any other value
df=pd.read_csv('data1.csv')
df["address"].fillna(354,inplace=True)
df["rand"].fillna(294,inplace=True)
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
1        2   AC     354  294.0
2        3   AD      AD  410.0
3        4  NaN      AE  875.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
7        8   AI      AI  294.0
8        9   AJ      AJ  937.0
9       10   AK     354  317.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
15      16  NaN      AQ  193.0
16      17   AR     354  294.0
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
22      23   AX     354  376.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
26      27  NaN      BB  294.0
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
31      32   BG     354  749.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
38      39   BN      BN  294.0
39      40   BO      BO  853.0
40      41  NaN      BP  924.0
41      42   BQ     354  290.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
48      49   BX     354  227.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
53      54   CC     354  294.0
54      55   CD      CD  636.0
55      56   CE      CE  992.0
56      57  NaN      CF  546.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
62      63   CL     354  131.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
65      66   CO      CO  294.0
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
70      71  NaN      CT  197.0
71      72   CU      CU  999.0
72      73   CV     354   33.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
77      78   DA      DA  294.0
78      79   DB      DB  538.0
79      80   DC      DC  123.0
80      81  NaN      DD   57.0
81      82   DE     354  908.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
87      88   DK      DK  294.0
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
92      93  NaN      DP  302.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
95      96   DS     354  358.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0
99     100   DW      DW  294.0

C:\Users\samue\AppData\Local\Temp\ipykernel_14248\1984396462.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["address"].fillna(354,inplace=True)
C:\Users\samue\AppData\Local\Temp\ipykernel_14248\1984396462.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rand"].fillna(294,inplace=True)

In [ ]:
#replace all the null values with mean value of the dataset
x=df["rand"].mean()
df["rand"].fillna(x,inplace=True)
print(df.to_string())

In [8]:
#replace all the null values with mean value of the dataset
x=df["rand"].median()
df["rand"].fillna(x,inplace=True)
print(df.to_string())

    number name address   rand
0        1   AB      AB  585.0
2        3   AD      AD  410.0
4        5   AF      AF  669.0
5        6   AG      AG  340.0
6        7   AH      AH  531.0
8        9   AJ      AJ  937.0
10      11   AL      AL  458.0
11      12   AM      AM  196.0
12      13   AN      AN  700.0
13      14   AO      AO  935.0
14      15   AP      AP  364.0
17      18   AS      AS  958.0
18      19   AT      AT  892.0
19      20   AU      AU   17.0
20      21   AV      AV    6.0
21      22   AW      AW  994.0
23      24   AY      AY  324.0
24      25   AZ      AZ  150.0
25      26   BA      BA  377.0
27      28   BC      BC  937.0
28      29   BD      BD  149.0
29      30   BE      BE  551.0
30      31   BF      BF  917.0
32      33   BH      BH  521.0
33      34   BI      BI  251.0
34      35   BJ      BJ  517.0
35      36   BK      BK  467.0
36      37   BL      BL  156.0
37      38   BM      BM  834.0
39      40   BO      BO  853.0
42      43   BR      BR  718.0
43      44   BS      BS  798.0
44      45   BT      BT  607.0
45      46   BU      BU   43.0
46      47   BV      BV  629.0
47      48   BW      BW  702.0
49      50   BY      BY  248.0
50      51   BZ      BZ  756.0
51      52   CA      CA  385.0
52      53   CB      CB  193.0
54      55   CD      CD  636.0
55      56   CE      CE  992.0
57      58   CG      CG  950.0
58      59   CH      CH   57.0
59      60   CI      CI  798.0
60      61   CJ      CJ  870.0
61      62   CK      CK  278.0
63      64   CM      CM   81.0
64      65   CN      CN  716.0
66      67   CP      CP  172.0
67      68   CQ      CQ  428.0
68      69   CR      CR   16.0
69      70   CS      CS  721.0
71      72   CU      CU  999.0
73      74   CW      CW  300.0
74      75   CX      CX  344.0
75      76   CY      CY  119.0
76      77   CZ      CZ  419.0
78      79   DB      DB  538.0
79      80   DC      DC  123.0
82      83   DF      DF  268.0
83      84   DG      DG  362.0
84      85   DH      DH  865.0
85      86   DI      DI  840.0
86      87   DJ      DJ  163.0
88      89   DL      DL  556.0
89      90   DM      DM  371.0
90      91   DN      DN  449.0
91      92   DO      DO  291.0
93      94   DQ      DQ  844.0
94      95   DR      DR  996.0
96      97   DT      DT  440.0
97      98   DU      DU  785.0
98      99   DV      DV   67.0

C:\Users\samue\AppData\Local\Temp\ipykernel_14248\1369128815.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rand"].fillna(x,inplace=True)

In [ ]:
#replace all the null values with mean value of the dataset
x=df["rand"].mode()
df["rand"].fillna(x,inplace=True)
print(df.to_string())